.git
.github
.idea
.vscode
.DS_Store

node_modules
dist
coverage
*.tsbuildinfo

.env
.env.*
!.env.example

.private
.nvmrc
.prettierrc
eslint.config.mjs
README.md
CLAUDE.md
LICENSE

test
docker-compose.yml
docker-compose.prod.yml
Dockerfile
.dockerignore
